 <!-- <app-header (searchChange)="onSearchChange($event)" ></app-header>
<main class="container mx-auto p-4">
  <div class="flex justify-center mt-4">
    <select [(ngModel)]="selectedCategory"  class="bg-blue-500 text-white rounded px-4 py-2 mx-2 hover:bg-blue-600">
      <option value="All">All</option>
      <option value="Food">Food</option>
      <option value="Drink">Drink</option>
    </select>
  </div>
  <div class="flex flex-wrap justify-around">
    <div *ngFor="let item of filteredItems" class="m-4">
      <app-item [item]="item"></app-item>
    </div>
  </div>
</main>
<app-footer></app-footer> -->

<!-- <app-signin /> -->
 
<app-sign-up/>




